Using CSS Grid to make complex layouts

.container {
    width: 70%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    grid-template-areas:
        "a a a a"
        "b c c d"
        "b e e f"
        "g g h f"
}

.box.one {
    background-color: red;
    grid-area: a;
}

.box.two {
    background-color: orange;
    grid-area: b;
}

.box.three {
    background-color: yellow;
    grid-area: c;
}

.box.four {
    background-color: green;
    grid-area: d;
}

.box.five {
    background-color: lightblue;
    grid-area: e;
}

.box.six {
    background-color: blue;
    grid-area: f;
}

.box.seven {
    background-color: grey;
    grid-area: g;
}

.box.eight {
    background-color: pink;
    grid-area: h;
}

<----------------------------------------------- FLEXBOX ------------------------------------------------------->
flex-basis can be applied to a flex item. It decides the width of the flex element. When changing the width value of a flex item, try to always
use flex-basis. The width property itself has no flexibility. It's value is permanent and wont change based on its surroundings, with flex-basis the width CAN change
based on its surroundings.

flex-basis: 100px;

Order property decides position of flex item within its flex container. flex item with highest order number will be in highest position. Usefull for SEO.
order: integer;

///////////// GAP property \\\\\\\\\\\\
creates space between flex items
gap: 2rem;
